@import '_var.scss';

.block-pad {
	padding: 100px 0 0 0;
}
.block-twor {
	padding: 50px 0;
}
.block-pad_item {
background:#fff url('../images/icon_oneblock.png') no-repeat;
width: 58px;
height: 58px;
margin:0 auto 50px auto;
}
h2.block-title {
	  font-family: "OpenSansSemiBold", sans-serif;
@include font-size(31px);
text-align: center;
	margin-bottom: 40px;
}
.block-content {
	margin: 0;
}
.block-content p {
	color: $color-text;
	@include font-size(19px);
	margin-bottom: 20px;
}
.block-content p:last-child {
margin-bottom: 0;
}
.block-box {
	padding: 0;
	margin: 0;
}
.block-left, .block-right {
width: 50%;
float: left;

}
.block-left {
	padding-right: 40px;
}
.block-right {
	padding-left: 40px;
}
.bc {
	padding: 50px 0;
	background: rgb(226,248,255); /* Old browsers */
background: -moz-linear-gradient(left, rgb(226,248,255) 0%, rgb(226,248,255) 50%, rgb(245,249,235) 50.1%, rgb(245,249,235) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgb(226,248,255) 0%,rgb(226,248,255) 50%,rgb(245,249,235) 50.1%, rgb(245,249,235) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgb(226,248,255) 0%,rgb(226,248,255) 50%,rgb(245,249,235) 50.1%, rgb(245,249,235) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f8ff', endColorstr='#f5f9eb',GradientType=1 ); /* IE6-9 */

}

.block-left {
background-color: #e2f8ff;
}
.block-right {
background-color: #f5f9eb;
}
.left-box_pic, .left-box_text {
	float:left;

}

.left-box_pic {
	width: 20%;
}
.left-box_pic img {
width: 113px;
height: auto;

	}
	.left-box_text {
		width: 80%;
		padding-left: 60px;

	}
	.left-box_title {   font-family: "OpenSansSemiBold", sans-serif;
@include font-size(23px);
margin-bottom: 20px;
	}
	.left-box_descr {
@include font-size(17px);
 margin-bottom: 20px;
	}

a.left-box_button {
	display: inline-block;
	padding: 10px 25px;
	@include font-size(17px);
	text-align: center;
	text-decoration: none;
	color:#fff;
	background-color: #26a6d1;
	border-radius: 10px;
	@include trans;
}
a.left-box_button:hover {
background-color: darken(#26a6d1, 10%);
}
a.left-box_blue {
  	background-color: $color-buttom;
}
a.left-box_blue:hover {
background-color: darken($color-buttom, 10%);
}
.block_description {
margin-bottom: 50px;
}

.featured {
padding: 0;
margin-bottom: 50px;
}
.featured h2.block-title {
margin-bottom: 10px;
text-align: left;
}
.featured .block_description {
margin-bottom: 0;
}
.featured_text {
	float: left;
	width: 80%;
}
.featured_button {
float: left;
	width: 20%;
}
.featured_button a {
	display: block;
	border:1px solid #8f8f8f;
	text-decoration: none;
	padding: 10px 20px;
	color:#8f8f8f;
	border-radius: 10px;
	text-align: center;
	margin-top: 20px;
}

.featured-box {
	width: 100%;
	padding: 0;
	margin: 0;
}
.featured-box_item {
	margin-left: 1%;
	width: 32.3333%;
background-color: $color-blog;
	float: left;
	border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
.featured-box_item:first-child {
	margin-left: 0;
}
.featured-pic {
margin: 0;
padding: 0;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
position: relative;
overflow: hidden;
}

.featured-pic:before {
	content: 'новый';
	position: absolute;
	top:-13px;
	left:-83px;
	padding-top: 30px;
@include font-size(14px);
	width: 200px;
	height: 60px;
	background-color:#add136;
	color:#fff;
	text-align: center;
transform: rotate(-45deg);
}
.featured-pic_tiplre
{
	position: absolute;
	bottom: 20px;
	// width: 200px;
	// height: 50px;
	padding: 12px 7px;
	// line-height: 50px;
	border-radius: 5px;
	text-align: center;
	font-weight: 200;
right: 10px;
 @include font-size(15px);
color:#fff;
background:$color-pocture-labers;
}

.featured-pic img {
	width: 100%;
	height: auto;
}
.featured-box_title {
	text-align: center;
	 @include font-size(17px);
	 	font-family: "OpenSansSemiBold", sans-serif;
	 	margin-bottom: 20px;
	 	margin-top: 20px;
}
.featured-box_descr {
margin-bottom: 20px;
color:#484848;
padding: 0 20px;
 @include font-size(13px);
}
.featured-block {
padding: 0 20px;
	margin: 0;
	border-bottom: 1px solid #484848;
}
.featured-block_left {
width: 50%;
margin: 0;
float: left;
padding-bottom: 20px;

}

.featured-details {
padding: 24px 30px 24px 0;
text-align: right;
}
.featured-details a {
@include font-size(15px);
color:#929292;
text-decoration: none;
@include trans;
}
.featured-details .fa {
color:$green-color-aksent;
margin-left: 10px;
@include font-size(15px);
}
.featured-details a:hover {
@include font-size(15px);
color: darken(#929292, 10%);
}
.block-bottom {
	padding:  50px 0;
}
.town_fon {
background:  url('../images/bgfooter.jpg') top center no-repeat;
min-height:500px;
-webkit-background-size:cover;
-moz-background-size: cover;
-ms-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.town_fon h2 {
color:$green-color-aksent;
text-align: center;
margin-bottom: 40px;
}

.town_box_item {
	width: 40%;
	float: left;
	margin-right: 10%;
}

.town_box_item:last-child {
	margin-right: 0;
}

.town_box_text {
	background-color: #fff;
	padding: 20px 40px;
	border-radius: 10px;
	  @include font-size(13px);
	  margin-bottom: 30px;
	  position: relative;
}

.town_box_text:before {
position: absolute;
content: '';
bottom: -30px;
left:8.5%;
border: 15px solid transparent;
border-top: 15px solid #ffffff;
}

.town_box_title	{
color:$green-color-aksent;
text-align: center;
	font-family: "OpenSansSemiBold", sans-serif;
	@include font-size(17px);
	margin-bottom: 20px;
}

.town_box_autor {
margin-left: 30px;
}

.town_box_autor_photo, .town_box_autor_name {
float: left;
}

.town_box_autor_photo {
width: 56px;
height: 56px;
border-radius: 10px;
}

.town_box_autor_photo img {
border-radius: 5px;
width: 100%;
height: auto;
}

.town_box_autor_name  {
	padding-left: 10px;
	line-height: 56px;
	font-weight: bold;
}

ul.trade_mark_item {
	padding: 0;
}

ul.trade_mark_item li {
display: inline-block;
list-style-type: none;
width: 12.0%;
padding: 0;
margin: 0;
}

ul.trade_mark_item li img{
	width: 100%;
	height: auto;
}

.cd-tabs nav {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}









footer  {
border-top:1px solid #848484;
line-height: 66px;
text-align: center;
@include font-size(14px);
height: 66px;
color:#848484;
}


/* табы */

.cd-tabs {
  position: relative;
  width: 90%;
}

.no-cssgradients .cd-tabs::after {
  display: none;
}
.cd-tabs.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-tabs nav {
overflow: auto;
-webkit-overflow-scrolling: touch;
}

.cd-tabs-navigation {
  // width: 360px;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}
ul.cd-tabs-navigation {
	margin: 0;
	padding: 0 5px;
}
.cd-tabs-navigation li {
  float: left;
  list-style: none;
  width: 33.3%;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: center;
   @include font-size(20px);
   text-decoration: none;
  font-weight: 700;
  color: #c3c2b9;
}

.no-touch .cd-tabs-navigation a:hover {
  color: #29324e;
  background-color: rgba(233, 230, 202, 0.3);
}

.cd-tabs-navigation a.selected {
  background-color: #ffffff !important;
  box-shadow: inset 0 2px 0 $green-color-aksent;
  color: #29324e;
}

.cd-tabs-content {
  background: #ffffff;
  padding: 0;
}

.cd-tabs-content li {
  display: none;
  padding: 0 20px 10px 20px;
}

.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}

.tab-box {
	display: block;
}

.tab-box_pic, .tab-box_text {
float: left;
	display: block;
}

.tab-box_pic {
	width: 20%;
}
 .tab-box_pic img {
	width: 100%;
	height: auto;
}

.tab-box_text {
		width: 80%;
		padding-left: 40px;
}

.tab-box_title {
	display: block;
color:$green-color-aksent;
@include font-size(26px);
}

.tab-box_descr {
	display: block;
	margin-top: 30px;
}

.tab-box_descr p {
	margin-bottom: 10px;
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
